@charset "utf-8";

body {
    font-family: "Playwrite NZ", cursive;
    font-family: "Tsukimi Rounded", sans-serif;
}

html {
    scroll-behavior: smooth;
}


header {
    position: fixed;
    z-index: 100;
}

.herder-div-nav {
    width: 100%;
    display: flex;
    position: fixed;
    top: 17px;
    z-index: 1;
    justify-content: space-between;
}

.header-h1-toplink {
    text-decoration: none;
    color: white;
    padding-left: 40px;
    font-size: 35px;
}

.header-h1 {}

.header-nav {
    padding-right: 20px;
}

.header-ul {
    display: flex;
    

}

.header-li-aboutlink {}

.header-li-workslink {}

.header-li-likeslink {}

.header-li-illustrationlink {}

.header-li {}

.header-a {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: white;
    padding: 0 15px;
    font-size: 28px;
    transition: border-bottom .3s;
}
.header-a:hover{
    border-bottom: 2px solid white;
    
}
.list-menu{
    color: white;
    text-align: center;
    padding-top: 180px;
    margin-bottom: 0px;
    font-size: 50px;
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
}

.top-page-section-images {}

.top-page-images {
    width: 100vw;
    height: auto;
    position: relative;
    position: fixed;
    z-index: -100;
}

.top-page-section-p {
    position: absolute;
    font-size: 150px;
    font-weight: bold;
    top: 50%;
    left: 3%;
    /* position: fixed;
    z-index: -99; */
    color: white;
}
main{
    background-color: #000000;
}
.list{
    display: flex;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 200px;
    justify-content: center;
}
.list-left{ 
    padding-left: 0;
}
.list-ul{}
.list-li{}
.list-article{}
.list-article-1{
    position: relative;
}
.list-p.list-about{
    position: absolute;
    padding: 5px 40px;
    padding-top:3px ;
    top: 48%;
    left: 32%;
}
.list-article-2{
    position: relative;
}
.list-p.list-works{
    position: absolute;
    padding: 5px 40px;
    padding-top:3px ;
    top: 43%;
    left: 30%;
}
.list-article-3{
    position: relative;
}
.list-p.list-likes{
    position: absolute;
    padding: 5px 60px;
    padding-top:3px ;
    top: 48%;
    left: 31%;
}
.list-article-4{
    position: relative;
}
.list-p.list-illustlation{
    position: absolute;
    padding: 5px 28px;
    padding-top:3px ;
    top: 48%;
    left: 25%;
}
.list-images{
    width: 500px;
    padding-left: 0;
    margin-left: 0;
    margin-top: 40px;
    z-index: -1;
    border-radius: 1%;
}
.list-images.list-about{
    /* position: relative; */
}
.list-about-img{}
.list-p.list-about{
    /* position: absolute; */
    
}
.list-p{
    z-index: 3;
    font-size: 40px;
    color: white;
    z-index: 3;
    text-decoration: none;
    border: 2px solid rgba(234, 230, 230, 0.905);
    font-weight: bold;
    background-color: #ccc7c761;
    border-radius: 4%;
    
}
.list-p:hover{
    background-color: rgba(234, 230, 230, 0.905);
    color: #333;
    transition: background-color .2s;
}



/* 二ページ目 */


.top-page-images-about{
    width: 100vw;
    height: auto;
    position: relative;
    position: fixed;
    z-index: -100;
}

.top-page-section-p-about{
    position: absolute;
    font-size: 100px;
    font-weight: bold;
    color: white;
    top: 40%;
    left: 65%;
    
}
.aboutpage-name{
    display: flex;
    /* margin-left: 117px; */
    left: 10%;
}
.aboutpage-midasi{
    color: white;
    font-size: 60px;
}  
.aboutpage-midasi.aboutpage-read{
    font-size: 20px;
}
.aboutpage-figure{
    display: flex;
    justify-content: center;
    gap: 190px;
    margin-top: 0;
}
.aboutpage-figcaption{
    margin-top: 70px;
}
.aboutpage-section.about-section-top{
    display: flex;
    gap: 60px;
    margin-bottom: 70px;
}
.aboutpage-section.about-section-down{
    display: flex;
    gap: 150px;
}
.aboutpage-text{
    color: white;
    margin: 0;
    font-size: 18px;
}
.aboutpage-text.text-two{
    
}
.aboutpage-img{
    width: 380px;
}